h1	a	{																																																																	
				color:	#D3EAF2;
}

h2	a	{																																																																	
				color:	white;
}
h10	a	{																																																																	
				color:	#D3EAF2;
}


body	{
				padding-left:	10px;
}

h10	{
				padding-right:	10px;
}

h1	a	{
				color:	#D3EAF2;
				font-family:	'Lobster';
}
.page-header	{
				background-color:	#65C2E0;
				margin-top:	0;
				padding:	20px	20px	20px	40px;
}
.page-header	h1,	.page-header	h1	a,	.page-header	h1	a:visited,	.page-header	h1	a:active	{
				color:	white;
				font-size:	36pt;
text-decoration:	none;
}
.page-header	h2,	.page-header	h2	a,	.page-header	h2	a:visited,	.page-header	h2	a:active	{
				color:	white;
				font-size:	20pt;
text-decoration:	none;
}
.page-header	h10,	.page-header	h10	a,	.page-header	h10	a:visited,	.page-header	h10	a:active	{
				color:	black;
				font-size:	10pt;
text-decoration:	none;
padding:	20px	20px	20px	40px;}
.content	{
				margin-left:	40px;
}
h1,	h3,	h4	{
				font-family:	'Lobster',	cursive;
}
.date	{
				float:	right;
				color:	#66B6D1;
}
.save	{
				float:	right;
}
.post-form	textarea,	.post-form	input	{
				width:	100%;
}
.top-menu,	.top-menu:hover,	.top-menu:visited	{
				color:	#66B6D1;
				float:	right;
				font-size:	26pt;
				margin-right:	20px;
}
.post	{
				margin-bottom:	70px;
}
.post	h1	a,	.post	h1	a:visited	{
				color:	#66B6D1;
}
